html{
  margin: 0;
  height: 100%;
}

body{
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 25% 75% ;
  grid-template-rows: 8% 92% ;
  grid-template-areas: 
    "header header "
    "sidebar main ";
    margin: 0;
    height: 100%;
}

#Header {
  grid-area: header;
  background-color: aqua;
  display: flex;

  justify-content: left;
}
#Main {
  grid-area: main;
  background-color: brown;
}
#SideBar {
  grid-area: sidebar;
  background-color: rgb(66, 210, 30);
}


#Logo {
  width: 25%;
  background-color: rgb(255, 255, 255);
}
#Search {
  background-color: rgb(0, 0, 0);
  width: 55%;
}
#Connection {
  background-color: rgb(223, 0, 0);
  width: 20%;
}
