html{
  margin: 0;
  height: 100%;
}

body{
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: 256px auto ;
  grid-template-rows: 8% 92% ;
  grid-template-areas: 
    "header header "
    "sidebar main ";
    margin: 0;
    height: 100%;
        /* google font */   
        font: var(--dt-title-small-font,500 .875rem/1.25rem "Google Sans"),"Google Sans",Roboto,Arial,sans-serif;
}

#Header {
  grid-area: header;
  background-color: aqua;
  display: flex;
  justify-content: left;
}
#Main {
  grid-area: main;
  background-color: rgb(19, 19, 19);
  overflow: auto;
}
#SideBar {
  grid-area: sidebar;
  background-color: rgb(43, 43, 43);
}


#Logo {
  background-color: rgb(43, 43, 43);
  width: 256px;
}
#Search {
  background-color: rgb(43, 43, 43);
  width: auto;
  flex-grow: 1;
}
#Connection {
  background-color: rgb(43, 43, 43);
  width: 100px;
}



#MainList{
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff;
}
.MainListItem{
  line-height: 48px;
  background-color: rgb(19, 19, 19);
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  justify-content: left;
}

#MainList :hover {
  background-color: #575757;
  border-radius: 0 0 5px 5px  ;
  cursor: default;
}
#MainList p {
  outline: none;
  text-decoration: none;
}
#MainList button:hover{
background-color: #383838;
border-radius: 50%;
width: 35px;
height: 35px;
}
#MainList img:hover{
  background-color: #00000000;
}

.ItemImage{
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ItemImage img{
  width: 30px;
  height: 30px;
}

.ItemName{
  width: auto;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  align-items: center;
}

.ItemName p{
  margin: auto;
}

.ItemDate{
  min-width: 100px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}
.ItemSize{
  min-width: 100px;
  display: flex;
  justify-content: center;
  color:#ffffff;
  align-items: center;
}
.ItemType{
  min-width: 80px;
  display: flex;
  justify-content: center;
  color:white;
  align-items: center;
}

.ItemRemove{
  min-width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

}
.ItemRemove img{
  width: 25px;
  height: 25px;
}

.ItemRemove button{
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  background-color: #00000000;
  border: none;
}
#HautDePage div:hover{
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}
#HautDePage:hover{
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}
/*-------------------------------------------------------------*/

input[type=file] {
  display: none;
}
#SideBar{
  display: flex;
  justify-content: center;

}
#Upload{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  background-color: #7f8680;
  color: #ffffff;
  font-size: 20px;
  border-radius: 20px;
}
#Upload:hover{
  background-color: #1b1b1b;
}

