<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/HPuser.css"> 
    <link rel="icon" href=<%= pp%> type="image/png">
    <title><%= name %></title>
</head>
<body>
    <h1><%= name %></h1>
    <a href="/<%=txt%>" download="flag.txt">Download</a>

</body>
</html>